@media screen and (min-width: 600px) {
  #main {
    flex-direction: row;
    font-size: 2.75vh;
  }
  #bio {
    flex: 2;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
  }
  #bioText {
    display: flex;
    margin: auto;
    justify-content: flex-end;
    flex-direction: column;
  }
  #bioText:after {
    content: '';
    width: 100%;
    align-self: center;
    height: .2em;
    background: #94bdff;
    margin-top: 15px;
  }
  #icons {
    font-size: 110%;
  }
  #icons a {
    margin: .33em .33em;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    margin: 0;
    font-size: 1.5em;
  }
}
