@media screen and (min-width: 615px) {
  #main {
    flex-direction: row;
  }
  #bio {
    flex: 2;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    flex-direction: column;
  }
  #bioText {
    display: flex;
    margin: auto;
    justify-content: flex-end;
    flex-direction: column;
  }
  #bioText:after {
    content: '';
    width: 120%;
    align-self: center;
    height: .2em;
    background: #94bdff;
    margin-top: 15px;
    border-radius: 100px;
  }
  #icons {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 133%;
  }
  #icons a {
    margin: .33em .33em;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    margin: 0;
    font-size: 1.5em;
  }
}
