@media screen and (min-width: 550px) {
  #main {
    flex-direction: row;
  }
  #avatar {
    display: flex;
    flex-grow: 0;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
  }
  #bio {
    flex: 2;

    background-color: rgba(0, 0, 0, 0);
    margin: 15% 0;
  }
  #bioText {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
  }
  #icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.33em;
    padding-top: 2%;
    margin: 0 30%;
  }
  #icons a {
    margin: .33em .33em;
  }
  .row {
    margin: 0;
    justify-content: center;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    margin: 0;
    font-size: 1.5em;
  }
}
